body {
   margin: 0;
   padding: 40px;
   font-family: sans-serif;
   background: #f2f2f2;
   font: 12px Arial;
}

.filter button, .filter span {
   margin: 0 5px 0 5px;
   width: 60px;
}

svg {
   border: 1px solid #ccc;
}

path { 
   stroke: steelblue;
   stroke-width: 2;
   fill: none;
}

.axis path,
.axis line {
   fill: none;
   stroke: grey;
   stroke-width: 1;
   shape-rendering: crispEdges;
}

.chartContainer {
   margin-top: 20px;
}